.container {
    width: 500px;
    height: 510px;
    border: 4px solid rgb(147, 161, 154);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 0 0 20px rgba(255, 242, 122, 0.7); /* Add glow effect to the border */
    transition: box-shadow 0.3s ease; /* Add transition to the box-shadow */
  }
  
  .box {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
  .weatherHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* Enhanced font size */
    font-style: italic;
    color: #fbfdfd; /* Dark green */
    background-color: rgba(0, 0, 0, 0.7); /* Black shade background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: glow 1.5s ease-in-out infinite alternate;
    font-family: Arial, sans-serif; /* Fallback font */
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #50ffd3, 0 0 20px #50ffd3, 0 0 30px #50ffd3;
    }
    to {
      text-shadow: 0 0 20px #069bf1, 0 0 30px#069bf1, 0 0 40px #069bf1;
    }
  }
  

  .line {
    display: flex;
    justify-content: space-between;
  }
  .CurrentTemp{
    justify-content: center;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
 .Input {
    height: 35px;
    font-size: larger;
    border-radius: 10px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
 }
 .Location-Box {
    width: 35px; /* Width of the box */
    height: 35px; /* Height of the box */
    background: url('./images/Location.png') no-repeat center center;
    background-size: contain; /* Adjusts the image to fit within the box */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for better visibility */
  }
  
  
  .button {
    padding: 5px 10px;
    background-color: #006863;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: larger;
    font-style: italic;
    height: 35px;
  }

  .button:hover {
    background-color: #0056b3;
  }
